<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ROOT = فقط WARN + ERROR -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- DB info -->
    <logger name="org.hibernate.orm.connections.pooling" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.hibernate.engine.jdbc.connections.internal.DriverManagerConnectionProviderImpl" level="INFO"/>

    <!-- Logs ديالك -->
    <logger name="com.zone.zone01blog" level="DEBUG"/>
</configuration>
